---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import Footer from '../components/Footer.astro';
import TechStack from '../components/TechStack.astro';
import TechCarousel from '../components/TechCarousel.astro';
import '../styles/global.css';
---

<BaseLayout>
    <main>
        <Hero />
        <Experience />
        <TechStack />
        <TechCarousel />
    </main>
    <Footer />
</BaseLayout>
