---
import Capabilities from '../components/Capabilities/Capabilities.astro';
import ContactFooter from '../components/ContactFooter/ContactFooter.astro';
import Experience from '../components/Experience/Experience.astro';
import Hero from '../components/Hero/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.scss';
---

<BaseLayout>
    <main>
        <Hero />
        <Experience />
        <Capabilities />
    </main>
    <ContactFooter />
</BaseLayout>
