---
---

<div id="suitcase-scene" class="absolute inset-0 overflow-visible">
    <canvas
        id="suitcase-canvas"
        class="pointer-events-none absolute z-0 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-screen max-w-[1024px] h-full max-h-[768px] lg:w-[1024px] lg:h-[768px] xl:max-w-[1440px] xl:w-[1440px] 2xl:max-w-[2160px] 2xl:w-[2160px]"
        aria-hidden="true"
    ></canvas>
</div>

<script>
    window.addEventListener('models:hero-ready', () => {
        import('../scripts/suitcase-scene');
    }, { once: true });
</script>
