---
import SectionDivider from './SectionDivider.astro';
---

<div id="tech-stack" class="relative overflow-visible" style="width: 100%; padding: 6rem 0;">
    <div id="tech-stack-text" class="relative z-10">
        <SectionDivider lines={["MODERN", "TECH STACK"]} />
    </div>
    <canvas
        id="tech-stack-canvas"
        class="pointer-events-none absolute z-0"
        style="top: 0; left: 50%; transform: translateX(-50%); width: 100vw; height: 100%;"
        aria-hidden="true"
    ></canvas>
</div>

<script>
    import '../scripts/tech-stack-scene';
</script>
