@import 'tailwindcss';

@theme {
    --breakpoint-xs: 23.4375rem; /* 375px */
    --breakpoint-sm: 40rem; /* 640px */
    --breakpoint-md: 48rem; /* 768px */
    --breakpoint-lg: 64rem; /* 1024px */
    --breakpoint-xl: 80rem; /* 1280px */
    --breakpoint-2xl: 96rem; /* 1536px */
}

@font-face {
    src: url('/fonts/DankMonoNerdFont-Regular.otf') format('opentype');
    font-family: 'DankMono';
}

@font-face {
    src: url('/fonts/DankMonoNerdFont-Bold.otf') format('opentype');
    font-family: 'DankMono';
}

@font-face {
    src: url('/fonts/DankMonoNerdFont-Italic.otf') format('opentype');
    font-family: 'DankMono';
}

:root {
    /* background-color: #303446; */
    background-color: black;
    color: rgba(255, 255, 255, 0.87);

    color-scheme: light dark;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'DankMono', monospace;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #646cff;
    font-weight: 500;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    display: flex;
    place-items: center;
    margin: 0;
    width: 100vw;
    min-width: 320px;
    min-height: 100vh;

    overflow-x: hidden;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    transition: border-color 0.25s;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #1a1a1a;
    padding: 0.6em 1.2em;
    font-weight: 500;
    font-size: 1em;
    font-family: inherit;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        background-color: #ffffff;
        color: #213547;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
